@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  .nav-logo {
    padding: 1rem 0;
  }

  .nav-navbar {
    border-top: 1px solid #4b3832;
    padding: 1rem 0;
    flex-direction: column;
    white-space: nowrap;
  }

  .nav-navbar a {
    padding: 1rem 0;
  }

  .navbar-cart {
    padding: 1rem 0;
  }

  .navbar-search-bar {
    display: inline;
  }

  .hero {
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.3rem;
  }

  .products-grid {
    flex-direction: column;
  }
}