@media screen and (max-width: 800px) {
  nav {
    flex-direction: column;
  }

  .nav-logo {
    padding: 1rem 0;
  }

  .nav-navbar {
    border-top: 1px solid #4b3832;
    padding: 1rem 0;
    flex-direction: column;
    white-space: nowrap;
  }

  .nav-navbar a {
    padding: 1rem 0;
  }

  .navbar-cart {
    padding: 1rem 0;
  }

  .navbar-search-bar {
    display: inline;
  }

  .hero {
    height: 50vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.3rem;
  }

  .products-grid {
    flex-direction: column;
  }

  .home-section {
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    max-width: 100%;
  }

  .products-container {
    flex-direction: column;
    padding: 0;
    max-width: 100%;
  }

  .product-card {
    max-width: 100%;
  }

  .pagination {
    width: 100%;
    max-width: 100%;
  }

  .breadcrumb {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  .product-details h1 {
    font-size: 1.5rem;
  }

  .reviews .container {
    flex-direction: column;
  }

  .reviews .review {
    margin: 0.5rem 0;
  }

  .related-products .product-grid {
    flex-direction: column;
  }

  .product-grid .product-card h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  .artisan-grid {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .artisan {
    width: 100%;
  }

  .our-values ul {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .our-values ul li {
    width: 100%;
  }

  .testimonial {
    padding: 0 1rem;
  }

  .map iframe {
    max-width: 100%;
  }

  .contact-info,
  .contact-form {
    padding: 4rem 0.5rem;
  }
}
