/*** global start ***/
body {
  margin: 0;
  background-color: #fffdd0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #4b3832;
}

main {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  cursor: default;
}

.btn {
  font-size: 1rem;
  background-color: #e2725b;
  color: #fffdd0;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6699cc;
  color: #ffd700;
}

.inactive {
  display: none;
}
/*** global end ***/

/*** global nav start ***/
nav {
  display: flex;
  padding: 1em 2em;
  background-color: #808000;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  font-size: 2rem;
  padding: 0 3em;
  cursor: default;
  font-family: "Merriweather", serif;
}

.nav-navbar {
  padding: 0 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-navbar a {
  color: inherit;
  text-decoration: none;
  padding: 0 1em;
}

.nav-navbar a:hover {
  color: #ffd700;
}

.navbar-cart {
  cursor: pointer;
  padding: 0 2em;
}

.navbar-cart:hover {
  color: #ffd700;
}

.nav-search-bar {
  font-size: 4em;
}

.search-bar {
  color: #4b3832;
  border: none;
  font-size: inherit;
  padding: 0.5rem;
  border-radius: 5px;
}

.fa-search:hover {
  cursor: pointer;
  color: #ffd700;
}

/*** global nav end ***/

/*** global footer start ***/
.footer {
  background-color: #4b3832;
  color: #fffdd0;
  padding: 1rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
}

.footer-about h4 {
  color: #e2725b;
}
.footer-about p {
  font-size: 1rem;
}

.footer-column {
  flex: 1;
  margin: 1rem;
}

.footer-column h4 {
  margin-bottom: 1.5rem;
  color: #e2725b;
}

.footer-column p,
.footer-column ul {
  line-height: 2rem;
  font-size: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 1rem;
}

.footer-column ul li a {
  color: #fffdd0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #e2725b;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin: 1rem;
  font-size: 2rem;
}

/* .social-icons img {
  width: 24px;
  height: 24px;
} */

.footer-bottom {
  border-top: 1px solid #d3d3d3;
  font-size: 0.8rem;
}
/*** global footer end ***/

/*** home start ***/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/hero.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0.55);
}

.hero-content {
  position: relative;
  color: #4b3832;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  color: #4b3832;
  font-weight: 700;
  text-shadow: 1px 1px 1px #ffd700;
  padding-bottom: 1rem;
}

.hero-content .btn {
  font-size: 1.5rem;
}

.featured-products {
  padding: 2rem 0;
}

.products-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.featured-product {
  background-color: #d3d3d3;
  color: #4b3832;
  padding: 0 1rem 1rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  border-radius: 8px;
  flex-basis: calc(25% - 30px);
  transition: background-color 0.3s ease;
}

.featured-product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.featured-product .description {
  font-size: 1.1rem;
  color: #808000;
}

.featured-product .price {
  color: #e2725b;
}

.home-section {
  max-width: 50%;
  padding: 1rem;
  margin: 4rem auto;
  border-top: 2px solid #d3d3d3;
}

.home-section-padding {
  font-size: 1.5rem;
  color: #808000;
  line-height: 2.5rem;
}

.home-about-us strong {
  color: #4b3832;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input[type="email"] {
  padding: 1rem;
  margin: 1rem;
  font-size: inherit;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  min-width: 40%;
  color: inherit;
}
/*** home end ***/

/*** products start ***/
.hero-products-img {
  background-image: url("../images/hero-products.jpeg");
}

.hero-products-img h1 {
  padding: 3rem;
}

.products-container {
  display: flex;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 70%;
}

.sidebar .category-links {
  list-style: none;
  padding: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar .category-links li {
  padding: 2rem 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
}

.sidebar .category-links a {
  color: #4b3832;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

.sidebar .category-links a:hover {
  color: #e2725b;
}

.filter-sort {
  width: 100%;
  margin-bottom: 1rem;
}

.filter-sort {
  display: flex;
  justify-content: flex-end;
}

.filter-sort select {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-around;
}

.product-grid .product-card {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
  max-width: 300px;
}

.product-grid .product-card img {
  width: 100%;
  height: auto;
}

.product-grid .product-card p {
  font-size: 1rem;
  padding: 0 0.2rem;
  color: #808000;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination a {
  color: #4b3832;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #e2725b;
  color: #fffdd0;
}

.pagination a.active {
  background-color: #4b3832;
  color: #fffdd0;
}

/*** products end ***/

/*** product details start ***/
.container {
  max-width: 70%;
  margin: 0 auto;
}

.related-products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.breadcrumb {
  background-color: #d3d3d3;
  padding: 1rem;
  margin-top: 0.7rem;
}

.breadcrumb .container {
  display: flex;
}

.breadcrumb a {
  color: #4b3832;
  text-decoration: none;
  margin-right: 0.7rem;
  margin-left: 1rem;
}

.breadcrumb span {
  padding-left: 1rem;
  color: #4b3832;
}

.breadcrumb a:hover {
  color: #e2725b;
}

.product-details {
  display: flex;
  padding: 1rem 0;
}

.product-image img {
  width: 100%;
  border-radius: 15px;
}

.product-info {
  padding: 0 1rem;
  flex: 1;
}

.product-info .price {
  color: #e2725b;
}

.product-options {
  margin: 1rem;
}

.product-options label {
  display: block;
}

.product-options select,
.product-options {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.product-info .btn {
  display: inline-block;
}

.additional-info,
.reviews,
.related-products {
  margin-top: 1rem;
  border-top: 1px solid #d3d3d3;
}

.additional-info ul {
  list-style: none;
  padding: 0;
}

.additional-info ul li {
  line-height: 1.5;
}

.reviews .container {
  display: flex;
}

.reviews .review {
  flex: 1;
  background-color: #d3d3d3;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 1rem;
}

.reviews .review span:after {
  content: " \2605\2605\2605\2605\2605";
  padding-bottom: 40rem;
  color: #6699cc;
}

.reviews .review span.four-stars:after {
  content: " \2605\2605\2605\2605";
}

.related-products .product-grid {
  display: flex;
}

.related-products .product-card {
  background-color: #fffdd0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: 30%;
}

.related-products .product-card img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.related-products .product-card .price {
  padding-bottom: 1rem;
  color: #e2725b;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}

.carousel-slide img {
  width: 100%;
  min-width: 100%;
  border: 1px solid #ddd;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel-btn.prev {
  left: 0;
}

.carousel-btn.next {
  right: 0;
}

.carousel-dots {
  text-align: center;
  padding: 10px 0;
}

.carousel-dots span {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.carousel-dots .active {
  background-color: #717171;
}

/*** product details end ***/

/*** about-us start ***/

.about-us-hero {
  background: url("../images/about-us-hero.jpg") no-repeat center center/cover;
  color: #fffdd0;
  text-shadow: 2px 2px 4px #4b3832;
  padding: 100px 0;
}

.about-us-hero h1 {
  margin: 0;
  font-size: 3.5rem;
}

.about-us-hero p {
  font-size: 1.6rem;
}

.our-story {
  padding: 4rem 0;
}

.meet-the-artisans {
  background-color: #f4f4f4;
  padding: 4rem 0;
}

.artisan-grid {
  display: flex;
  justify-content: space-around;
}

.artisan {
  width: 30%;
}

.artisan img {
  width: 100%;
  border-radius: 40%;
}

.our-values {
  padding: 4rem 0;
}

.our-values ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.our-values ul li {
  width: 30%;
}

.customer-testimonials {
  background-color: #f4f4f4;
  padding: 4rem 0;
}

.customer-testimonials .testimonial {
  margin-top: 3rem;
}

/*** about-us end ***/

/*** contact start ***/

.about-us-hero p {
  font-size: 1.6rem;
}

.contact-hero {
  background: url("../images/about-us-hero.jpg") no-repeat center center/cover;
  color: #fffdd0;
  padding: 100px 0;
  text-shadow: 2px 2px 4px #4b3832;
}

.contact-hero h1 {
  margin: 0;
  font-size: 3.5rem;
}

.contact-hero p {
  font-size: 1.6rem;
}

.contact-info {
  padding: 4rem 0;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin: 1rem 0;
}

.social-icons-container {
  display: flex;
  justify-content: center;
}

.social-icons-container {
  list-style: none;
  padding: 0;
}

.social-icons-container li {
  font-size: 3rem;
  padding: 0 2rem;
}

.social-icons-container li a {
  color: #4b3832;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons-container li a:hover {
  color: #e2725b;
}

.contact-form {
  padding: 4rem 0;
  background-color: #f4f4f4;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 1rem;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
.contact-form .btn {
  margin-top: 2rem;
  border: 1px solid #d3d3d3;
}

.map {
  padding: 4rem 0;
}

/*** contact end ***/

/*** faq start ***/
.faq {
  padding: 4rem 0;
}

.faq h2 {
  text-align: center;
  margin-bottom: 3.6rem;
}

.faq-item {
  text-align: left;
  margin-bottom: 20px;
}

.faq-item h3 {
  margin-bottom: 10px;
}

.faq-item p {
  margin: 0;
  color: #666;
}
/*** faq end ***/

/*** toast start ***/
.toast {
  visibility: hidden;
  max-width: 50%;
  margin: 0 auto;
  background-color: #6699cc;
  color: #ffd700;
  border-radius: 5px;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 2rem;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/*** toast end ***/

/*** cart start ***/
.cart {
  padding: 4rem 0;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.cart-table thead {
  background-color: #f8f8f8;
}

.cart-table th,
.cart-table td {
  border: 1px solid #ddd;
  padding: 1rem;
}

.cart-table td img {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}

.cart-table input[type="number"] {
  width: 2rem;
  font-size: inherit;
  padding: 0.8rem;
}

.remove-btn {
  border: none;
  background-color: #e74c3c;
  font-size: inherit;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.cart-summary {
  text-align: right;
}

.cart-summary p {
  margin: 0.5rem 0;
}

.checkout-btn {
  background-color: #6699cc;
  color: white;
  font-size: inherit;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #5991c9;
}

/*** cart end ***/
